<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
          <h1 id="project_title"><a href="/">{{ site.title }}</a></h1>
         <p>
          <strong>Some links to me</strong><br/>
        <a href="/about">About me</a><br/>
        <a href="http://twitter.com/leahbannon">Twitter</a><br/>
        <a href="https://github.com/leahbannon">GitHub</a><br/>
        <a href="https://18f.gsa.gov">My Job</a>
        </p>
        <p><strong>Projects</strong></p>
        <p><a href="/newsletter">A cool newsletter on tech ladies, DC tech, & training opportunities</a></p>
       <p><a href="http://codefordc.org">Code for DC</a></p>
       <p><a href="http://techladyhackathon.org">Tech Lady Hackathon</a></p>
       <p><a href="/dcbarssanstv">DC Bars sans TV</a><br/>
       <a href="https://github.com/leahbannon/GIFs">GIFs I made</a><br/>
       <a href="http://shannonvturner.com/art/mash">An art game I helped build</a></p>
       <p><a href="https://github.com/leahbannon/leahbannon.github.io">Fork this site on GitHub</a>
       </p>
         </header>
      <section>
